### Build output ###
out/
bin/
dist/

### IntelliJ IDEA ###
.idea/
*.iml

### Other IDEs ###
.vscode/
.classpath
.project
.settings/
/nbproject/private/
/nbbuild/
/.nb-gradle/

### OS ###
.DS_Store
Thumbs.db

### Saved system state (exercise 1 bonus) ###
*.gm